<header class="header">
  <h1 class="header-logo">Air Slingshot</h1>
  <ul class="nav">
    <li><a class="nav-item" href="./seat-select">Book</a></li>
    <li><a class="nav-item" href="./reservation">Reservations</a></li>
  </ul>
</header>
