<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0, minimal-ui"
    />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Seat Selection</title>
  </head>
  <body>
    <div class="main">
      <%- include('../partials/header') %>
      <div class="flight-select">
        <label for="flight">Flight Number :</label>
        <select name="flight" id="flight" class="flight">
          <option disabled="disabled" selected>flight #</option>
          <% flightNumbers.forEach(flightNum => { %>
          <option value="<%- flightNum %>"><%- flightNum %></option>
          <% }) %>
        </select>
      </div>

      <div id="seats-section"></div>
    </div>
    <script src="/js/admin.js"></script>
  </body>
</html>
